# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage

# System files
.DS_Store
Thumbs.db
